[submodule "dependencies/sleepy-discord"]
	path = dependencies/sleepy-discord
	url = https://github.com/yourWaifu/sleepy-discord.git
[submodule "dependencies/postgres-cxx-client"]
	path = dependencies/postgres-cxx-client
	url = https://github.com/anatoliifrolov/postgres-cxx-client.git
[submodule "dependencies/dotenv"]
	path = dependencies/dotenv
	url = https://github.com/adeharo9/cpp-dotenv.git
